.formulario-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.formulario {
	margin-top: 5%;
	width: 70%;
	min-width: 300px;
	max-width: 700px;
	background: rgb(12, 98, 197);
	border-radius: 5px;
	padding: 15px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.formulario > .cont-input {
	margin-bottom: 10px;
}

.formulario .label-input {
	display: block;
	font-weight: 600;
	font-size: 14px;
	margin-bottom: 5px;
	color: #fff;
}

.formulario .input-style {
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	border-radius: 5px;
	border: 2px solid #e2e2e2;
	font-size: 16px;
	padding: 5px;
	margin-bottom: 5px;
	color: #1f1f1f;
}
.formulario .input-style:focus {
	outline: none;
	border: 2px solid #0085FF;
}

.formulario .btn-form[type="submit"] {
	display: block;
	background: #4CAF50;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	border: none;
	cursor: pointer;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	transition: .3s ease all;
}

.formulario .btn-form[type="submit"]:hover {
	background-color: #55e45a;
    color: white;
    border: 2px solid #4CAF50;
}

.react-datepicker__input-container{
	position: initial;
}

.auto-container {
	background-color: white;
	position: static;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: start;
	flex-direction: column;
	padding: 5px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.option {
	width: 100%;
	text-align: start;
	padding-top: 5px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.option span {
	font-size: 14px;
}