.header{
    z-index: 1;
    position: sticky;
    padding-left: 5%;
    padding-right: 5%;
    top: 0;
    height: 80px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: rgb(12, 98, 197);
    box-shadow: rgba(0, 0, 0, 0.527) 0px 1px 4px;
}

.button{
    display: flex;
}

.menu{
    display: inline-block;
    font-size: 18px;
    color: white;
}

.logo-container{
    display: flex;
    align-items: center;
}

.img-Logo{
    display: inline-block;
}

.logo{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    color: white;
    margin-left: 10px;
}