.card-container {
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.527) 0px 1px 4px;
}

.item-ubication label {
    font-size: 12px;
    font-weight: bold;
}

.item-ubication h4 {
    font-size: 10px;
    font-weight: normal;
}

.item-date {
    width: 100%;
    padding-top: 10px;
    display: flex;
    align-items: center;
}

.item-date p {
    font-size: 12px;
    margin-right: 5px;
}

.item-date h4 {
    font-size: 15px;
}

.card-row {
    display: flex;
    width: 100%;
    align-items: center;
}

.card-info {
    padding: 5px;
    width: 100%;
}

.item-hour h4 {
    font-size: 14px;
    text-align: start;
}

.item-type h5 {
    font-size: 12px;
    font-weight: normal;
    text-align: start;
}

.item-person h5 {
    font-size: 12px;
    font-weight: normal;
    text-align: start;
}

.item-persons {
    width: 100%;
}

.item-persons h5 {
    text-align: start;
    padding-left: 20px;
}

.item-airline h4 {
    text-align: start;
    font-size: 12px;
    font-weight: normal;
}

.item-price {
    width: 100%;
}

.item-price h3 {
    font-size: 15px;
    text-align: start;
}

.card-logo img {
    width: 80%;
}

.btn-delete {
    padding: 5px;
    border-radius: 5px;
    background-color: #b10909;
    border: none;
}

.btn-delete img {
    width: 20px;
}