.list-flights {
    margin-top: 30px;
}

.header-list {
    width: 100%;
    padding: 10px;
    background-color: rgb(12, 98, 197);
}

.ubication-info {
    width: 100%;
    display: flex;
    align-items: center;
}

.ubication-info img {
    width: 24px;
    margin-right: 10px;
}

.ubication-info h2 {
    font-size: 14px;
    color: white
}

.list-items {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}